main {
    position: relative;
    display: flex;
    width: 100%;
}

.sidebar {
    flex: 0 0 20%;
    height: fit-content;
    margin-top: 1rem;
    position: sticky;
    top: 6rem;
}

.sidebar > ul {
    list-style: none;
    text-align: left;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

li > a {
    display: block;
    height: 100%;
    padding: 1em 2em;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-style: solid;
    border-color: #aaa;
}

ul > li:first-child > a {
    border-radius: .5em .5em 0 0;
}

ul > li:last-child > a {
    border-bottom-width: 1px;
    border-radius: 0 0 .5em .5em;
}

.sidebar a:hover {
    background-color: #80d8ff;
}

.inner {
    display: block;
}

.inner > img,
.inner > .description {
    float: left;
}

.description {
    /* overflow: auto; */
    width: 60%;
    margin-right: 0;
    margin-left: 5rem;
}

.description > h3 {
    color: #08c;
    letter-spacing: 3px;
}

.description > p {
    line-height: 200%;
    letter-spacing: 2px;
}

.people {
    flex: 0 0 60%;
    margin-left: auto;
    margin-right: 0;
}

img {
    border-radius: .5em;
    border: 2px solid #eee;
    transition: border-color .1s ease-in;
    padding: 2px;
}

img:hover {
    border-color: #08c;
}

.people > #founder,
.people > #doctorate,
.people > #master {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}

hr {
    border-width: 1px;
}